body {
  color: black;
}

div {
  min-height: 50px;
  min-width: 100px;
  margin: 5px;
}

div.title {
  max-height: 25px;
  margin-top: 25px;
  margin-bottom: 1px;
}

.wrapper {
  width: 225px;
}

#c1 {
  background-color: hsl(210, 6%, 62%);
  display: none;
}

#c2 {
  background-color: rgb(142, 138, 135);
  display: none;
}

#c3 {
  background-color: rgb(192, 187, 184);
  display: none;
}

#c1 {
  background-color: rgb(52, 67, 71);
  display: none;
}

#c4 {
  background-color: rgb(58, 71, 83);
  display: none;
}

#c5 {
  background-color: rgb(76, 102, 124);
  display: none;
}

#c6 {
  background-color: rgb(88, 123, 157);
  display: none;
}

#c7 {
  background-color: rgb(116, 157, 193);
  display: none;
}

#c8 {
  background-color: rgb(168, 195, 218);
  display: none;
}

#c9 {
  background-color: rgb(214, 229, 239);
  display: none;
}

#c10 {
  background-color: rgb(137, 87, 82);
  display: none;
}

#c11 {
  background-color: rgb(160, 92, 81);
  display: none;
}

#c12 {
  background-color: rgb(165, 96, 84);
  display: none;
}

#c13 {
  background-color: rgb(199, 133, 130);
  display: none;
}

#c14 {
  background-color: rgb(222, 167, 164);
  display: none;
}

#c15 {
  background-color: rgb(175, 146, 139);
  display: none;
}

#c16 {
  background-color: rgb(240, 227, 226);
  display: none;
}

#c17 {
  background-color: rgb(184, 184, 184);
  display: none;
}

#c18 {
  background-color: rgb(191, 190, 190);
  display: none;
}

#c19 {
  background-color: rgb(2456, 246, 246);
  display: none;
}

#c20 {
  background-color: rgb(68, 77, 88);
  display: none;
}

#c21 {
  background-color: rgb(80, 90, 103);
  display: none;
}

#c22 {
  background-color: rgb(112, 125, 143);
  display: none;
}

#c23 {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 0);
  color: rgb(255, 0, 0);
  color: rgb(255, 128, 0);
  color: rgb(41, 95, 153);
  color: rgb(0, 153, 51);
  color: rgb(128, 0, 128);
  color: rgb(51, 23.9, 0);
}
